################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Loja-fruta/.vs
/Loja-fruta/Classes/obj/Debug
/Loja-fruta/Classes/bin/Debug
